<?xml_version = "1.0"?>

<launch>

<param name = "robot_description" command = "$(find xacro)/xacro --inorder $(find owl_robot_description)/urdf/owl_68.urdf" />

<!--set the pos in empty world-->
<arg name = "x" default="0" />
<arg name = "y" default="0" />
<arg name = "z" default="0" />

<!--launch gazebo world in paused-->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="use_sim_time" value="true"/>
<arg name="debug" value="false"/>
<arg name="gui" value="true"/>
<arg name="paused" value="true"/>

</include>

<!--spawn the robot-->
<node name="spawn_the_robot" pkg ="gazebo_ros" type="spawn_model" output ="screen" args="-urdf -param robot_description -model owl -x $(arg x) -y $(arg y) -z $(arg z)"/>

</launch>
